<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cards.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
        <header class="header">
            <div class="header__logo">
                <div class="logo__icono">
                    <img src="../storage/img/Frame 2 .png">
                </div>
                <div class="logo__titulo">inveto</div>
            </div>
            <div class="header__menu">
                <i class='bx bx-menu'></i>
            </div>
        </header>
        <main class="main">
            <h3 class="main_title">investigating Tips</h3>
            <section class="main__banner">
                <div class="banner__public">
                    <div class="public__logo">
                        <div> 1 </div>
                        <img src="../storage/img/icono0.svg" alt="">
                    </div>
                    <div class="public__description">
                         <div class="description__close"><i class='bx bx-x' ></i></div>
                        <p>What is an  ETF?</p>
                        <small>By james B, PHD</small>
                        <button>learn more</button>
                    </div>
                </div>
            </section>
            <h3 class="main__title2">My cards(4)</h3>
            <section class="main__cards">
                <article>
                    <small>****6175</small>
                    <h2><sub>$</sub>47,417</h2>
                    <img src="../storage/imgs/visa.svg">
                </article>
                <article>
                    <small>****6175</small>
                    <h2><sub>$</sub>47,417</h2>
                    <img src="../storage/imgs/visa.svg">
                </article>
                <article>
                    <small>****6175</small>
                    <h2><sub>$</sub>47,417</h2>
                    <img src="../storage/imgs/visa.svg">
                </article>
                <article>
                    <small>****6175</small>
                    <h2><sub>$</sub>47,417</h2>
                    <img src="../storage/imgs/visa.svg">
                </article>
                
            </section>
        </main>
        <footer class="footer">
            <ul>
                <li>
                    <a href="#"><img src="../storage/img/iconn1.png"></a>
                </li>
                <li>
                    <a href="#"><img src="../storage/img/iconn2.png"></a>
                </li>
                <li>
                    <a href="#"><img src="../storage/img/iconn3.png"></a>
                </li>
                <li>
                    <a href="views/cards "><img src="../storage/img/iconn4.png"></a>
                </li>
                <li>
                    <a href="#"><img src="../storage/img/iconn5.png"></a>
                </li>
            </ul>
        </footer>
</body>
</html>